.venv/
venv/
build/
dist/
src/python/pymusiclibrary.egg-info/

windows-x64*.zip
windows-x86*.zip
windows-arm64*.zip
linux-x64*.zip
linux-arm64*.zip
macos-x64*.zip
macos-arm64*.zip

src/python/MusicLibrary/lib/
src/python/MusicLibrary/include/
src/python/tests/login/login_response.txt
src/python/tests/login/loginStatus.json
src/python/tests/ncm_login_cookie.json

**/__pycache__/

src/dart/.dart_tool/
src/dart/*.dll